doctype html
html(lang='ko')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title 회원가입
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/SignUp.css', rel='stylesheet')
  body
    a.header-logo.text-warning(href='/')
      h1
        b Zero - Mo
    form
      h5.text-white 회원가입
      input(type='text', placeholder='아이디를 입력하세요')
      input(type='password', placeholder='패스워드를 입력하세요.')
      input(type='text', placeholder='이름을 입력하세요.')
      button(type='button') 회원가입
      p
        a(href='./logIn') 로그인 화면으로 돌아가기
