extends ../layout

include ../includes/_paginate

block content
  .container
    //- form.form-inline.search-input-group(action='/contests', method='GET')
    //-   i.fa.fa-search
    //-   input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | 공모전 리스트
      if contests.total > 0
        h4 총 #{contests.total} 개의 공모전이 있습니다.

    if contests.total <= 0 
      .alert.alert-info 현재 게시된 공모전이 없습니다.
    else
      include _table
        

          //- .contest
          //-   a.title(href=`/contests/${contest.id}`)= contest.title
            include _contest

      +paginate(contests, '/contests', query)
