extends ../layout


      
block content
  .container
    h1.main-title 공모전 등록하기
    form(action="/contests", method="POST")
      include _form

  script(src="https://www.google.com/recaptcha/api.js", async='', defer='')

  script(type='text/javascript').
        var onloadCallback = function() {
        grecaptcha.render('html_element', {
            'sitekey' : '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI'
            'type' : 'text'
            });
        };
